.table {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hand {
  position: relative;
  /* width: 200px;
  height: 180px; */
  width: 9rem;
  height: 12rem;
  overflow-x: visible;
  margin-right: 12rem;
}

.card {
  border: none;
  border-radius: 5px 10px 5px 10px;
  /* width: 100px;
  height: 145.2px; */
  width: 8rem;
  height: 11.616rem;
  cursor: none;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 4px 4px 4px 5px rgba(0, 0, 0, 0.135);
}

.player-hand .card:last-of-type {
  animation: cardDraw 250ms 50ms ease-in-out;
}

@keyframes cardDraw {
  0% {
    transform: translateY(-45%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.player {
  margin-top: 50px;
}

.player,
.opponent {
  display: flex;
  /* flex-direction: column;
  align-items: center;
  width: 50%; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.status {
  width: 60px;
  font-size: 1.2rem;
  text-align: center;
  margin-right: 30px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.status-icon {
  margin-top: 15px;
  font-size: 1.5rem;
}

.status-icon.won {
  color: rgb(255, 213, 24);
}
.status-icon.lost {
  color: rgb(229, 30, 30);
}
.status-icon.draw {
  color: rgb(86, 219, 56);
}

.counter {
  color: black;
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  background: white;
  border: 2px solid red;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  bottom: 0;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  font: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn-hit {
  margin-right: 50px;
}

.timer-container {
  width: 250px;
  height: 10px;
  position: relative;
  margin: 20px 0;
}

.timer,
.timer-bg {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  height: 100%;
  border-radius: 10px;
}

.timer {
  z-index: 2;
  transition: width 10ms ease-in, background 150ms ease-in-out;
}

.timer-bg {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.actions {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* #btn-play {
  margin: auto;
} */
